{% extends '@News/Layout/layout.html.twig' %}

{% block title %} {{ 'News'|trans }} {% endblock %}

{% block body %}

    <div class="container">

        <section class="panel">            
            <div class="panel-body">

                <div class="row ">
                    <div class="col-md-12 text-center">
                        <h2>{{ 'News Posts' }}</h2>                        
                    </div>
                    <div class="col-md-12">
                        <h5>{{'If you want to post news you must first '}} 
                            <a href="{{ path('user_registration') }}" class="mt-2"><strong>{{'register '}}</strong></a></h5> 
                    </div>
                </div>
                <div class="row ">
                    {% for post in posts %}
                        <div class="col-md-6">
                            <h3> <a href="{{ path('frontend_show_post',{'id': post.secureId}) }}">{{ post.title }}</a></h3>                                       
                            <strong>  {{ post.date|date('d-m-Y') }} </strong> 
                            {% set text = post.text|slice(0,300) %}                            
                            <div>{{ text|raw }}...</div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </section>
    </div>
{% endblock %} 
