{% extends '@News/Layout/layout.html.twig' %}

{% block title %} {{ 'Forgot password'|trans }} {% endblock %}

{% block body %}


    <div class="container">
        <section class="panel">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <h3>{{ 'Ask new activation code' }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        {{ form_start(form) }}
                        {{ form_row(form.email) }}
                        <div class="ml-1">
                        <button class="btn btn-success" type="submit">{{ 'Register' }}</button>
                        </div>
                         {{ form_errors(form) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %} 